* {
  text-decoration: none !important;
}
p {
  margin-bottom: 0 !important;
}
a {
  color: inherit !important;
}
.nav-root {
  z-index: 1;
  top: 0;
  position: fixed;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.navbar-xl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 0 1.8em;
  text-decoration: none !important;
}
.navbar-sm {
  display: none;
}

.navbar-xl a,
.navbar-sm a {
  color: black !important;
  transition: all 0.2s ease-out !important;
}
.navbar-xl a:hover,
.navbar-sm a:hover,
.playstore p:hover {
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-out !important;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.nav-container img {
  width: 1em;
}
.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  gap: 1em;
}
.shop img {
  width: 1.75em;
}
.vl {
  border-left: 0.5px solid black;
  height: 24px;
}
.playstore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.playstore p {
  margin: 0 !important;
}
.logo-container img {
  width: 7em;
}

.images-container {
  display: flex;
  position: static;
  margin: 1em 0;
}
.images-container .img1 {
  height: 25em;
  width: 50%;
  background: url("../assets/banners/img1.png") no-repeat;
  background-size: cover;
}
.images-container .img2 {
  height: 25em;
  background: url("../assets/banners/img2.png") no-repeat;
  width: 50%;
  background-size: cover;
}
.image-titles {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1em 0;
  color: #fff;
}
.image-titles h2 {
  font-weight: bold;
}
.images-container .img1,
.images-container .img2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn-primary,
.btn-secondary {
  width: 60%;
  min-width: max-content;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.btn-secondary.white {
  color: white;
  border-color: white;
}
.btn-primary {
  color: #fff;
  background: #ff9817;
  border: .5px solid #ff9817;
  transition: all 0.2s ease-out !important;

  /* viejo */
  
}
.btn-secondary {
  background: transparent;
  color: #ff9817;
  border: solid 1px #ff9817;
  transition: all 0.2s ease-out !important;
}

.btn-primary:hover {
  background: #fff;
  color: #ff9817;
  border: none;
  transition: all 0.2s ease-out !important;
}
.btn-secondary:hover {

  color: #fff;
  background: #ff9817;
  border: solid 1px #ff9817;
  transition: all 0.2s ease-out !important
}
.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categories {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: scroll;
  gap: 5em;
  margin: 1em 0;
}
.categories::-webkit-scrollbar {
  display: none;
}
.categories img {
  width: 32px;
}
.categories .categorie-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
  gap: 0 0.5em;
}
.categorie-items img {
  height: 29px;
}
.categories .categorie-items:hover {
  border-bottom: 1px solid #ff9817;
  fill: #ff9817 !important;
  color: #ff9817;
  padding-bottom: 0.4rem;
  transition: all 0.2s ease-out !important;
}
.products {
  display: flex;
  flex-direction: row;
  margin: 0em;
  overflow: scroll;
  margin: auto;
  overflow: scroll;
}
.products::-webkit-scrollbar {
  display: none;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 15em;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.produc-card-info {
  width: 100%;
  padding: 1rem;
  padding: 1rem 1rem 0 1rem;
}
.product-card .btn-secondary {
  width: 100%;
}
.product-card .img-card-container {
  height: 100%;
  width: 100%;
}
.product-card > div > img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 0.5px solid #dfdfdf;
}
.product-card .price {
  margin-top: .3rem;
  margin-bottom: 0.4rem !important;
}
.title {
  margin-bottom: 0.7rem !important;
}


.footer-image {
  margin: 2em 0;
  width: 100%;
  height: 200px;
  background: url("../assets/banners/te-acompañamos.png") no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.footer-image-cotizar {
  margin: 2em 0;
  width: 100%;
  height: 200px;
  background: url("../assets/banners/DescargateNuestraApp_Banner.png") no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  background-position: 0 75%;
}
.footer-image-cotizar p {
  position: absolute;
  font-size: 2.5em;
}
.footer-image p {
  position: absolute;
  font-size: 2.5em;
}
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1em 10em;
  z-index: 100 !important;
}
.footer .direction-container p {
  margin: 0 !important;
}
.footer .pay-methods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer .pay-methods img {
    width: 45px;
    height: 33px;
    background: whitesmoke;
    box-sizing: border-box;
    padding: 0.3rem;
}
img.playstore {
  width: auto !important;
  background: none !important;
  padding: 0 !important;
}

@media (max-width: 900px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 1em;
    align-items: center;
    height: 3em;
  }
  .navbar-xl {
    display: none;
  }
  .navbar-sm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none !important;
    margin-top: 1em;
  }
}

@media (max-width: 900px) {
  .footer {
    margin: 2em 0;
    display: flex;
    text-align: center;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-image,
  .footer-image-cotizar {
    display: none;
  }
  .footer .pay-methods img {
    width: 42px;
  }
  .products {
    width: 100%;
  }
  .tyc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    gap: 0em;
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.app-titles {
  margin: 3.5em;
}
.app-information {
  padding: 0px 4em;
}
.app-information .text-container h3 {
  color: #f1972d;
  font-size: 1.5rem;
}
.about-container .about-text {
  padding: 2em 5em;
}
.app-boxes .box,
.app-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}
.app-boxes .box {
  border: 1px solid #ccc;
  padding: 0em 1em;
  border-radius: 10px;
  gap: 2em;
}
.app-boxes .box p {
  padding: 0;
  margin: 0;
}

@media (max-width: 900px) {
  .app-boxes .box,
  .app-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
  }
  .box {
    text-align: center;
    width: 40em;
    height: 10em;
  }
  .box img {
    padding: 0;
    margin: 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-image {
    display: none;
  }
}

.downloads {
  display: flex;
  position: absolute;
  left: 70%;
  gap: 1em;
}
.downloads img {
  width: 10em;
}

.contact-info {
  padding: 1em;
  height: 50em;
  width: fit-content;
  right: 0;
  margin-left: auto;
  background: #fff;
}

.contact-info h4 {
  font-size: 1.5em;
  color: #ff9817;
}
.contact-info h5 {
  font-size: 1em;
}
.contact-info img {
  width: 32px;
}
.contact-info .info-box {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.map-container {
  height: 25vh;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.info-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3em;
  height: 65%;
}

@media (max-width: 950px) {
  .info-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    padding: 1em;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5em 1em !important;
    padding: 0 !important;
  }
  .wrapper {
    margin-top: 9em;
  }
  .nav-root {
    padding-bottom: 2em;
  }
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: url("../assets/banners/te-acompañamos.png") no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.img-container Input {
  width: 40%;
  background: white;
}
.categories-filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em;
}
.side-categories:hover,
.side-categories img:hover {
  color: #ff9817;
  fill: #ff9817 !important;
}

.tyc {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 1em 0;
  color: #9c9c9c;
}
hr {
  margin-left: auto;
  margin-right: auto;
  width: 81%;
}

.table-container {
  margin: 0 5em;
}
.table th {
  padding: 1.5em;
}
.table td {
  padding: 2.5em;
}
.table div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
  margin-right: 1em;
  margin-top: 2em;
}
.stepper-checkout div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.stepper-checkout p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepper-checkout {
  display: flex;
  justify-content: flex-start;
  gap: 7em;
  margin: 0 2.5em;
}
.stepper-checkout img {
  height: 24px;
}
.table-expandable {
  display: block;
  background: #f8f8f8;
}
.table-header {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(auto, auto);
}
.table-header {
  background: #fff0dd;
  padding: 1.5em;
  font-weight: bold;
}
.table-body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(auto, auto);
  padding: 1.5em;
}
.table-container {
  display: grid;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.icon-container {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
.last-container {
  display: flex;
  align-items: center;
  gap: 5em;
}
.table-expandable {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.expandable-data {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(auto, auto);
  padding: 1.5em;
}
.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #f3f3f3;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}
.stepper-checkout .active p {
  color: #ff9817;
  border-bottom: 1px solid #ff9817;
  padding-bottom: 5px;
}
.stepper-checkout .active img {
  filter: invert(61%) sepia(99%) saturate(1337%) hue-rotate(347deg)
    brightness(101%) contrast(101%);
}
.login-title {
  color: #ff9817;
  border-bottom: 1px solid #ff9817;
  padding-bottom: 1em;
}
.log-window {
  display: flex;
}
.order-container {
  display: flex;
  margin: 0 5em;
  padding: 1em;
  justify-content: space-evenly;
}
.download-order {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}
.payment-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ff9817;
  border-radius: 5px;
  margin: 0 5em;
}
.payment-method .radio-payment {
  border: 1px solid #ff9817;
  border-radius: 5px;
  padding: 1em;
}

input[type="radio"]:checked {
  background-color: #ff9817;
  color: #ff9817 !important;
  content: "";
  border: 1px solid #ff9817 !important;
  background-clip: content-box !important;
}

.cart-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.5em;
  height: 1.5em;
  z-index: 100;
  right: 20.75em;
  top: 1em;
  background: black;
  border-radius: 100%;
}
.cotizar-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 20em;
  width: 100%;
  background: url("../assets/banners/img2.png") no-repeat;
  background-size: cover;
}

.cotizar-categorias {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.cotizar-items {
  cursor: pointer;
  height: 15em;
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.cotizar-categorias.selected .cotizar-items {
  cursor: pointer;
  height: 5em;
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.cotizar-items p {
  position: absolute;
  width: 10em;
  text-align: center;
  padding: 1em;
  z-index: 100;
  color: #fff;
  border: 1px solid #fff !important;
}
.cotizar-items img {
  z-index: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cotizar-subcategorias {
  display: none !important;
}
.cotizar-subcategorias.selected {
  display: flex !important;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2em;
  gap:2em;
  overflow:hidden;
}
.categories-cotizar {
  justify-content: space-around;
  align-items: center;
}
.cotizar-subitems {
  cursor: pointer;
  height: 5em;
  width: 20em;
  display: flex;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  justify-content: space-around;
  align-items: center;
  color: #000;
  transition: all 0.2s linear !important;
}
.cotizar-subitems:hover{
  color:#fff !important;
  background-color:#FF9817;
  transition: all 0.2s linear !important;
}
.cotizar-subitems p {
  width: 10em;
  text-align: right;
  padding: 1em;
  z-index: 100;


}
.cotizar-subitems img {
  z-index: 1 !important;
  height: 100%;
  width: 40%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.circle-subcategorias{
  display:flex;
  justify-content:center;
  align-items:center;
  height:10em;
  width:10em;
  margin-right:1em;
  border-radius:0 100% 100% 0 ;
  background-color:#FF9817;
  z-index:0;
}
