* {
  text-decoration: none !important;
}
.nav-root {
  z-index: 1;
  top: 0;
  position: fixed;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.navbar-xl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  text-decoration: none !important;
}
.navbar-sm {
  display: none;
}

.navbar-xl a,
.navbar-sm a {
  color: black !important;
  transition: all 0.2s ease-out !important;
}
.navbar-xl a:hover,
.navbar-sm a:hover,
.playstore p:hover {
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-out !important;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.nav-container img {
  width: 1em;
}
.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  gap: 1em;
}
.vl {
  border-left: 0.5px solid black;
  height: 24px;
}
.playstore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.playstore p {
  margin: 0 !important;
}
.logo-container img {
  width: 7em;
}

.images-container {
  display: flex;
  position: static;
  margin: 1em 0;
}
.images-container .img1 {
  height: 25em;
  width: 50%;
  background: url('../assets/banners/img1.png') no-repeat;
  background-size: cover;
}
.images-container .img2 {
  height: 25em;
  background: url('../assets/banners/img2.png') no-repeat;
  width: 50%;
  background-size: cover;
}
.image-titles {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1em 0;
  color: #fff;
}
.image-titles h2 {
  font-weight: bold;
}
.images-container .img1,
.images-container .img2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn-primary,
.btn-secondary {
  width: 60%;
  height: 4em;
}
.btn-primary {
  background: transparent;
  color: #fff;
  border: solid 1px;
  transition: all 0.2s ease-out !important;
}
.btn-secondary {
  color: #fff;
  background: #ff9817;
  border: none;
  transition: all 0.2s ease-out !important;
}

.btn-primary:hover {
  color: #fff;
  background: #ff9817;
  border: none;
  transition: all 0.2s ease-out !important;
}
.btn-secondary:hover {
  background: #fff;
  color: #ff9817;
  border: none;
  transition: all 0.2s ease-out !important;
}
.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categories {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: scroll;
  gap: 5em;
  margin: 1em 0;
}
.categories::-webkit-scrollbar {
  display: none;
}
.categories img {
  width: 32px;
}
.categories .categorie-items {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0 0.5em;
}
.categories .categorie-items:hover {
  border-bottom: 1px solid #ff9817;
  fill: #ff9817 !important;
  color: #ff9817;
  padding-bottom: 0px;
  transition: all 0.2s ease-out !important;
}
.products {
  display: flex;
  flex-direction: row;
  margin: 0em;
  overflow: scroll;
  margin: auto;
  overflow: scroll;
}
.products::-webkit-scrollbar {
  display: none;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.product-card img {
  height: 15em;
  padding: 2em;
}
.footer-image {
  margin: 2em 0;
  width: 100%;
  height: 200px;
  background: url('../assets/banners/te-acompañamos.png') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.footer-image-cotizar {
  margin: 2em 0;
  width: 100%;
  height: 200px;
  background: url('../assets/banners/DescargateNuestraApp_Banner.png') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  background-position: 0 75%;
}
.footer-image-cotizar p {
  position: absolute;
  font-size: 2.5em;
}
.footer-image p {
  position: absolute;
  font-size: 2.5em;
}
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1em 5em;
  z-index: 100 !important;
}
.footer .direction-container p {
  margin: 0 !important;
}
.footer .pay-methods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer .pay-methods img {
  width: 64px;
}

@media (max-width: 900px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 1em;
    align-items: center;
    height: 3em;
  }
  .navbar-xl {
    display: none;
  }
  .navbar-sm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none !important;
    margin-top: 1em;
  }
}

@media (max-width: 900px) {
  .footer {
    margin: 2em 0;
    display: flex;
    text-align: center;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-image, .footer-image-cotizar {
    display: none;
  }
  .footer .pay-methods img {
    width: 42px;
  }
  .products {
    width: 100%;
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.app-titles {
  margin: 3.5em;
}
.app-information {
  padding: 0px 4em;
}
.app-information .text-container h3 {
  color: #f1972d;
  font-size: 1.5rem
}
.about-container .about-text {
  padding: 2em 5em;
}
.app-boxes .box,
.app-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}
.app-boxes .box {
  border: 1px solid #ccc;
  padding: 0em 1em;
  border-radius: 10px;
  gap: 2em;
}
.app-boxes .box p {
  padding: 0;
  margin: 0;
}

@media (max-width: 900px) {
  .app-boxes .box,
  .app-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
  }
  .box {
    text-align: center;
    width: 40em;
    height: 10em;
  }
  .box img {
    padding: 0;
    margin: 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-image {
    display: none;
  }
}

.downloads {
  display: flex;
  position: absolute;
  left: 70%;
  gap: 1em;
}
.downloads img {
  width: 10em;
}

.contact-info {
  padding: 1em;
  height: 50em;
  width: fit-content;
  right: 0;
  margin-left: auto;
  background: #fff;
}

.contact-info h4 {
  font-size: 1.5em;
  color: #ff9817;
}
.contact-info h5 {
  font-size: 1em;
}
.contact-info img {
  width: 32px;
}
.contact-info .info-box {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.map-container {
  height: 25vh;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.info-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em;
  height: 65%;
}

@media (max-width: 950px) {
  .info-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    padding: 1em;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5em 1em !important;
    padding: 0 !important;
  }
  .wrapper {
    margin-top: 9em;
  }
  .nav-root {
    padding-bottom: 2em;
  }
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: url('../assets/banners/te-acompañamos.png') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.img-container Input {
  width: 40%;
  background: white;
}
.categories-filter{
  display:flex;
  flex-direction:column;
  gap:1em;
  padding: 0 1em;
}
.side-categories:hover , .side-categories img:hover {
  color:#ff9817;
  fill:#ff9817 !important;
}
.cotizar-title{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:#fff;
  height: 20em;
  width: 100%;
  background: url('../assets/banners/img2.png') no-repeat;
  background-size: cover;
}

.cotizar-categorias{
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  margin-bottom:2em;
}
.cotizar-items{
  height:15em;
  width:15em;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:2em;
}
.cotizar-items p{
  position:absolute;
  width:10em;
  text-align:center;
  padding:1em;
  z-index:100;
  color:#fff;
  border: 1px solid #fff !important;

}
.cotizar-items img{
  z-index:0;
  height:100%;
  width:100%;
  object-fit: cover;
}